/* style.css */

:root {
    --background-color: aqua;
    --title-topmargin: 100px;
    --button-topmargin: -50px;
}

/* Body styling */
body {
    background-color: var(--background-color);
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Title styling */
.title {
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-top: var(--title-topmargin);
}

/* Joke display styling */
#jokeDisplay {
    font-size: 1.2em;
    color: #555;
    text-align: center;
    margin-bottom: 20px; /* Add margin to separate from the button */
}

/* Button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: var(--button-topmargin); 
}

.button:hover {
    background-color: #0056b3;
}

